:root {
   --dark-color: rgba(0, 0, 0, 1);
   --white-color: rgba(255, 255, 255, 1);
   --orange-color: rgba(255, 113, 67, 1);
   --orange-hover-color: rgb(222, 89, 44);
   --grey-color: rgb(184, 184, 184);
   --soc-bg: rgba(0, 0, 0, 0.16);
   --grey-color-menu: rgba(255, 255, 255, 0.12);

   --border: 1px solid var(--soc-bg);
   --border-radius: 4px;
   --box-shadow: 0px 0px 8px rgba(16, 19, 80, 0.12);
   --border-decor: rgba(255, 255, 255, 0.16);

   --container: 1280px;
   --container-x: 15px;

   --transition: all 0.5s ease 0s;
}